<ng-template #content><ng-content /></ng-template>

@if (href()) {
  <a
    [href]="href()"
    [attr.target]="target() ?? null"
    [attr.rel]="target() === '_blank' ? 'noopener noreferrer' : null"
    [class]="buttonClasses"
    [attr.aria-label]="ariaLabel() ?? null"
  >
    <ng-container *ngTemplateOutlet="content" />
  </a>
} @else {
  <button
    [type]="type()"
    [class]="buttonClasses"
    [attr.aria-label]="ariaLabel() ?? null"
    [attr.aria-disabled]="disabled() ? true : null"
    [attr.disabled]="disabled() ? true : null"
    (click)="onClick($event)"
  >
    <ng-container *ngTemplateOutlet="content" />
  </button>
}
